In [1]:
import pandas as pd

In [6]:
df1= pd.read_csv("takehome_user_engagement.csv")

In [8]:
df2= pd.read_csv("takehome_users.csv",engine='python')

In [9]:
df1.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [10]:
df2.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
time_stamp    207917 non-null object
user_id       207917 non-null int64
visited       207917 non-null int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [14]:
engage=df1
users=df2

In [15]:
#Sort "engage" by users' number of visits

#Output user_id's that have cumulative =>3 visited

visits = engage["user_id"].value_counts()
adopted = visits[visits >= 3]
 
adopted
#Based on this, can see that out of 207917 time stamps, there are 2248 users who have logged in 
#to their device 3 or more instances. 

###Need to see how spread apart are these log-ins...7 days or more?
###Some of the user_id's may be discounted if don't fulfill min. 7-day span criteria

3623     606
906      600
1811     593
7590     590
8068     585
9402     581
4022     580
3269     566
9312     547
7210     545
8029     541
2474     538
2658     526
8280     521
69       521
5297     520
4019     519
9083     517
2519     511
4263     509
3226     502
10599    501
6312     500
10953    499
8426     496
2316     496
603      489
2078     488
8768     487
445      487
        ...
1742       3
10058      3
788        3
5730       3
9232       3
11250      3
8802       3
11213      3
455        3
10820      3
3220       3
2624       3
9959       3
3318       3
277        3
2714       3
6414       3
6569       3
3323       3
5145       3
9284       3
11851      3
6808       3
9318       3
8047       3
6090       3
8464       3
5528       3
6900       3
7310       3
Name: user_id, Length: 2248, dtype: int64

In [16]:
for index, val in adopted.iteritems(): 
    users.loc[users['object_id'] == index, 'adopted_user'] = 1 #index is used to connect with users df 'object_id' column
    
#Check that transformation went through with confirmed adopted user
users.loc[users['object_id'] == 3623]

#Checked

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,adopted_user
3622,3623,2012-06-25 14:34:33,Melo Vit�ria,VitoriaAlvesMelo@jourrapide.com,ORG_INVITE,1.401201e+09,0,0,364,3623.0,1.0

In [17]:

#Drop all NaN values in order to properly train M.L. Models 

users = users.fillna(0)

In [18]:
# 2. drop irrelevant columns, leaving only "object_id", "opted_in_to_mailing_list", "enabled_for_marketing_drip" and 'adopted_user'

users.drop(['creation_time', 'name', 'email', 'creation_source', 'last_session_creation_time', 'org_id', 'invited_by_user_id'], axis=1, inplace=True)
users

,object_id,opted_in_to_mailing_list,enabled_for_marketing_drip,adopted_user
0,1,1,0,0.0
1,2,0,0,1.0
2,3,0,0,0.0
3,4,0,0,0.0
4,5,0,0,0.0
5,6,0,0,0.0
6,7,0,1,0.0
7,8,1,1,0.0
8,9,0,0,0.0
9,10,1,1,1.0
10,11,0,0,0.0
11,12,0,0,0.0
12,13,0,0,0.0
13,14,0,0,0.0
14,15,0,0,0.0
15,16,0,0,0.0
16,17,1,0,0.0
17,18,0,0,0.0
18,19,1,0,0.0
19,20,0,0,1.0
20,21,0,0,0.0
21,22,0,0,0.0
22,23,1,0,0.0
23,24,1,0,0.0
24,25,1,0,0.0
25,26,0,0,0.0
26,27,0,0,0.0
27,28,0,0,0.0
28,29,0,0,0.0
29,30,0,0,0.0
...,...,...,...,...
11970,11971,0,0,0.0
11971,11972,0,0,0.0
11972,11973,0,0,0.0
11973,11974,0,0,0.0
11974,11975,1,0,1.0
11975,11976,0,0,0.0
11976,11977,0,0,0.0
11977,11978,1,0,0.0
11978,11979,0,0,0.0
11979,11980,0,0,1.0
11980,11981,0,0,1.0
11981,11982,1,1,0.0
11982,11983,0,0,0.0
11983,11984,0,0,0.0
11984,11985,0,0,0.0
11985,11986,0,0,0.0
11986,11987,0,0,0.0
11987,11988,0,0,1.0
11988,11989,1,0,0.0
11989,11990,0,0,0.0
11990,11991,0,0,1.0
11991,11992,0,0,0.0
11992,11993,0,0,0.0
11993,11994,0,0,0.0
11994,11995,0,0,0.0
11995,11996,0,0,0.0
11996,11997,0,0,0.0
11997,11998,1,1,0.0
11998,11999,0,0,0.0
11999,12000,0,1,0.0

In [19]:
train = users[:9600] #Training Set
test = users[9600:] #Test Set (based off of Test set being 20% of whole dataset)

#Setting up Training dataset

trainx = train.drop('adopted_user', axis = 1)

trainy = train['adopted_user']

#Setting up Testing Dataset

testx = test.drop('adopted_user', axis = 1)

testy = test['adopted_user']
# 4. Feed these into .fit to build models

##.fit to build Logistic Regression (L.R.) Model

from sklearn.linear_model import LogisticRegression

lm = LogisticRegression(class_weight = 'balanced').fit(trainx, trainy)
lm

/Users/ankit/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
# 5. .predict to predict on training set and test set

#Predicting on Training dataset

lm_train_predictions =  lm.predict(trainx)
lm_train_predictions

array([1., 0., 0., ..., 0., 0., 0.])

In [21]:
#LM Training dataset Performance Metrics

from sklearn.metrics import classification_report

report = classification_report(trainy, lm_train_predictions)
print(report)

              precision    recall  f1-score   support

         0.0       0.82      0.71      0.76      7819
         1.0       0.19      0.30      0.24      1781

    accuracy                           0.64      9600
   macro avg       0.50      0.51      0.50      9600
weighted avg       0.70      0.64      0.66      9600

In [22]:
#Predicting on Test dataset

lm_test_predictions = lm.predict(testx)
lm_test_predictions

array([1., 0., 0., ..., 1., 0., 1.])

In [23]:
#.fit to build Decision Tree (DT) model

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

param_grid = [{'max_depth': [1, 2, 3, 4]}]

tree_class = DecisionTreeClassifier()

grid_search = GridSearchCV(tree_class, param_grid, cv = 3, scoring = 'neg_mean_squared_error')

grid_search.fit(trainx, trainy)

#Getting best estimator directly. Inputting results in refit Decision Tree model.
grid_search.best_estimator_

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [24]:
#Training DT Model 

#Now with optimized parameters, can .fit model with tuned settings:

tree_class = DecisionTreeClassifier(class_weight = 'balanced', max_depth = 1)
tree_class.fit(trainx,trainy)

DecisionTreeClassifier(class_weight='balanced', criterion='gini', max_depth=1,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [25]:
#Predicting on Training dataset

tree_class_train_predictions = tree_class.predict(trainx)
tree_class_train_predictions

array([0., 0., 0., ..., 1., 1., 1.])

In [26]:
#DT Training dataset Performance Metrics

from sklearn.metrics import classification_report

report = classification_report(trainy, tree_class_train_predictions)
print(report)

              precision    recall  f1-score   support

         0.0       0.90      0.00      0.01      7819
         1.0       0.19      1.00      0.31      1781

    accuracy                           0.19      9600
   macro avg       0.54      0.50      0.16      9600
weighted avg       0.77      0.19      0.07      9600

In [27]:
#Predicting on Test dataset

tree_class_test_predictions = tree_class.predict(testx)
tree_class_test_predictions

array([1., 1., 1., ..., 1., 1., 1.])

In [28]:
#DT Test dataset Performance Metrics

from sklearn.metrics import classification_report

report = classification_report(testy, tree_class_test_predictions)
print(report)

              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00      1933
         1.0       0.19      1.00      0.33       467

    accuracy                           0.19      2400
   macro avg       0.10      0.50      0.16      2400
weighted avg       0.04      0.19      0.06      2400

/Users/ankit/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

For Classification model metrics/assessment, values closest to 1 were most desirable signaling correct positive predictions. Model that had mostly 1's was Decision Tree model.

Therefore, to re-assess this data, I would choose the Decision Tree model due to it having a high success rate in predicting which users would be classified as 'adopted user'.

Considerations/Recommendations/Further Research

Consideration for code is:

Implement check for 7-days or more period between users' first and third visits in order to truly define user as 'adopted'

Considerations for data:

Have more features to select from in order to better determine/predict an "adopted user". For example, instead of just log-in's, have usage data on certain services they use in order to determine level of user engagement. Otherwise, with current features, there is a lot of extrapolation with how a user gets "adopted" because data on how a user's account gets started does not have a strong relationship with how a user commits to a service provider.